@media (max-height: 900px) {
}

@media (max-height: 750px) {
}

@media (max-width: 1265px), (max-height: 600px) {
}

@media (max-width: 1841px) {
}

@media (max-width: 1221px) {
}

@media (max-width: 800px) {
}
