main section#home-sec2 {
  min-height: 50rem;
  height: auto;
}

main #home-sec1 .hero-container {
  position: absolute;
  left: 6rem;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
}

main #home-sec1 .hero-container .home-hero-heading {
  font-size: 6rem;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.2rem;
  color: var(--main-text-color);
  background-color: transparent;
  user-select: none;
}

main #home-sec1 .hero-container .home-hero-heading.p2 {
  color: var(--main-color);
}

main #home-sec1 .hero-container .home-hero-heading.p3 {
  background-image: linear-gradient(to bottom, var(--main-color), #5f9aff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  height: 7rem;
}

main #home-sec1 .hero-container .home-hero-sub-text {
  position: relative;
  top: 2rem;
  color: var(--sub-text-color);
  font-size: 1.9rem;
  word-break: break-word;
  font-weight: 500;
  user-select: none;

  display: block;
  width: 30%;
}

main #home-sec1 .hero-container .home-button-container {
  position: relative;
  width: 100%;
  height: 8rem;

  top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

main #home-sec1 .hero-container .home-button-container .home-btn {
  width: 20rem;
  text-align: center;
  border-radius: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;

  transition: scale 300ms ease-in-out;
}

main #home-sec1 .hero-container .home-button-container .home-btn:hover {
  scale: 1.05;
}

main
  #home-sec1
  .hero-container
  .home-button-container
  .home-btn
  .material-symbols-outlined {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  vertical-align: middle;
}

main #home-sec1 .hero-container .home-button-container .home-btn.main {
  background-color: var(--main-button-color);
  outline: 0.2rem solid var(--main-button-outline-color);
  color: var(--main-button-text-color);

  box-shadow: var(--main-button-shadow-color) 0 10px 20px 1px;
}

main #home-sec1 .hero-container .home-button-container .home-btn.secondary {
  background-color: var(--secondary-button-color);
  outline: 0.2rem solid var(--secondary-button-outline-color);
  color: var(--secondary-button-text-color);
  margin-left: 2.5rem;
}

main #home-sec1 .hero-image {
  width: auto;
  max-height: 45rem;
  height: 35vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
}

main #home-sec2 .home-choose-us-container {
  width: 50%;
  position: relative;
  top: 2rem;
  left: 4rem;
}

main #home-sec2 .home-choose-us-container .choose-us-title {
  font-size: 3.25rem;
}

main #home-sec2 .home-choose-us-container .choose-us-text {
  font-size: 1.75rem;
  color: var(--sub-text-color);
}

main #home-sec2 .home-cards-container {
  width: 95%;
  margin: 5rem auto 2rem;
  min-height: 35rem;
  height: auto;

  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: start;
}

main #home-sec2 .home-cards-container .home-card {
  width: 35rem;
  min-height: calc(35rem / 2);
  height: auto;
  background-color: var(--card-color);
  outline: 0.2rem solid var(--card-outline-color);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

main #home-sec2 .home-cards-container .home-card .home-card-title {
  font-size: clamp(1.5rem, 4vw, 1.95rem);
  user-select: none;
}

main #home-sec2 .home-cards-container .home-card .home-card-text {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 500;
  color: var(--sub-text-color);
  user-select: none;
}

main #home-sec2 .home-cards-container .home-card .home-card-icon {
  color: var(--main-text-color);
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  animation: moveIconBack 500ms ease-in-out forwards;
  user-select: none;
}

main #home-sec2 .home-cards-container .home-card:hover .home-card-icon {
  animation: moveIconCenter 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes moveIconCenter {
  0% {
    top: 2rem;
    right: 2rem;
    left: auto;
    transform: translate(0, 0) scale(1) rotate(0deg);
    color: var(--main-text-color);
  }
  100% {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%) scale(4.5) rotate(360deg);
    color: var(--main-color);
    opacity: 0.15;
  }
}

@keyframes moveIconBack {
  0% {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%) scale(4.5) rotate(360deg);
    color: var(--main-color);
    opacity: 0.15;
  }
  100% {
    top: 2rem;
    left: auto;
    right: 2rem;
    transform: translate(0, 0) scale(1) rotate(0deg);
    color: var(--main-text-color);
    opacity: 1;
  }
}

@media (max-height: 900px) {
  main #home-sec1 .hero-image,
  main #home-sec1 .hero-container {
    top: 40%;
  }
}

@media (max-height: 750px) {
  main #home-sec1 .hero-image {
    top: 30%;
    height: 30vw;
  }

  main #home-sec1 .hero-container .home-hero-heading {
    font-size: clamp(1rem, 6vw, 4.5rem);
  }

  main #home-sec1 .hero-container .home-hero-sub-text {
    font-size: clamp(0.5rem, 3.5vw, 1.5rem);
  }

  main #home-sec1 .hero-container .home-button-container .home-btn {
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: clamp(0.5rem, 3.5vw, 1.2rem);
  }

  main
    #home-sec1
    .hero-container
    .home-button-container
    .home-btn
    .material-symbols-outlined {
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
}

@media (max-width: 1265px), (max-height: 600px) {
  main section#home-sec1 {
    overflow: visible;
    min-height: auto;
    padding: 10rem 1rem 3rem;
  }

  main section#home-sec2 {
    min-height: auto;
  }

  main #home-sec1 .hero-image {
    display: none;
  }

  main #home-sec1 .hero-container {
    position: static;
    transform: none;
    left: 0;
    text-align: center;
  }

  main #home-sec1 .hero-container .home-hero-sub-text {
    width: min(90%, 40rem);
    text-align: center;
    left: 0;
    transform: none;
    margin: 1rem auto 0;
  }

  nav {
    position: absolute;
    height: 5rem;
    flex-direction: column;
  }

  nav .company-name {
    position: relative;
    left: 0;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  main #home-sec1 .hero-container .home-hero-heading {
    font-size: clamp(1rem, 10vw, 6rem);
  }

  main #home-sec1 .hero-container .home-hero-heading.p3 {
    height: auto;
  }

  main #home-sec1 .hero-container .home-hero-sub-text {
    top: 0;
    font-size: clamp(0.5rem, 3.5vw, 1.9rem);
  }

  main #home-sec1 .hero-container .home-button-container {
    position: relative;
    top: 0;
    height: auto;
    margin-top: 2rem;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  main #home-sec1 .hero-container .home-button-container .home-btn.secondary {
    margin-left: 0;
  }

  main #home-sec1 .hero-container .home-button-container .home-btn {
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: clamp(0.5rem, 3.5vw, 1.5rem);
  }

  main
    #home-sec1
    .hero-container
    .home-button-container
    .home-btn
    .material-symbols-outlined {
    font-size: 1rem;
    padding-bottom: 0.1rem;
  }
}

@media (max-width: 1841px) {
  main #home-sec2 .home-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  main #home-sec2 .home-choose-us-container .choose-us-title {
    font-size: 2.5rem;
  }

  main #home-sec2 .home-choose-us-container .choose-us-text {
    font-size: 1.25rem;
  }

  main #home-sec2 .home-cards-container .home-card {
    min-height: calc(35rem / 3);
  }
}

@media (max-width: 1221px) {
  main #home-sec2 .home-cards-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  main #home-sec2 .home-cards-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  main #home-sec2 .home-cards-container .home-card {
    width: 100%;
  }

  main #home-sec2 .home-choose-us-container {
    width: 100%;
    top: 2rem;
    left: 0;
    padding-inline: 2rem;
    text-align: center;
  }

  main #home-sec2 .home-choose-us-container .choose-us-title {
    font-size: clamp(2rem, 5vw, 2.5rem);
  }

  main #home-sec2 .home-choose-us-container .choose-us-text {
    font-size: clamp(1rem, 3vw, 1.25rem);
  }
}
